/* OVERLAY */
.menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 998;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* SIDE MENU */
.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    max-width: 340px;
    height: 100%;
    background: black;
    color: white;
    transition: 0.4s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu.active {
    left: 0;
}

/* HEADER */
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-logo {
    font-size: 24px;
    letter-spacing: 6px;
    color: #ffb6c1;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
}

/* LINKS */
.menu-links {
    padding: 0 25px;
}

.menu-links a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* ACCOUNT */
.menu-account {
    padding: 25px;
    border-top: 1px solid #222;
}

.menu-account button {
    width: 100%;
    padding: 12px;
    background: white;
    border: none;
    font-weight: bold;
}

/* HIDE ADMIN BUTTON */
#adminBtn {
    display: none;
}

/* You Might Also Like Section */
.related-section {
    margin-top: 60px;
    text-align: center;
}

.related-title {
    font-size: 26px;
    margin-bottom: 30px;
    color: #f5f5dc;
}

.related-product {
    display: inline-block;
    background: #f5f5dc;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}

.related-product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.related-name {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.related-price {
    margin-top: 5px;
    font-size: 16px;
    color: brown;
    font-weight: bold;
}
