/* OVERLAY */
.menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 998;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* SIDE MENU */
.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    max-width: 340px;
    height: 100%;
    background: black;
    color: white;
    transition: 0.4s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu.active {
    left: 0;
}

/* HEADER */
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-logo {
    font-size: 24px;
    letter-spacing: 6px;
    color: #ffb6c1;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
}

/* LINKS */
.menu-links {
    padding: 0 25px;
}

.menu-links a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* ACCOUNT */
.menu-account {
    padding: 25px;
    border-top: 1px solid #222;
}

.menu-account button {
    width: 100%;
    padding: 12px;
    background: white;
    border: none;
    font-weight: bold;
}style.css
